<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>YourName</title>
    <style rel="stylesheet" href="/styles/style.css"></style>
  </head>
  <body>
    <% if (locals.nameLength > 0) {%>
    <h1>There are <%= nameLength %> letters in your name.</h1>
    <% } else {%>
    <h1>Enter your name:</h1>
    <% } %>
    <form action="/name" , method="POST">
      <label for="fName">First Name:</label>
      <input type="text" name="fName" required />
      <label for="lName">Lust Name:</label>
      <input type="text" name="lName" required />
      <input type="submit" value="Enter" />
    </form>
  </body>
</html>
